/*
Google Fonts

font-family: 'Open Sans', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-image: url(/img/main_background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.contenedor-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.main {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
    padding: 2rem;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 500px;
}

.cards-container {
    width: 100%;
}

.card {
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    height: 70vh;
    min-height: 400px;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 30px;
    color: #000;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
}

.inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.oculto {
    display: none;
}

.barra-de-busqueda {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 3rem;
    border-radius: 30px 30px 30px 30px;
}

.buscador {
    width: 80%;
    border-radius: 30px 0 0 30px;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    outline: none;
}

.boton-buscar {
    width: 20%;
    height: 3rem;
    padding: .5rem;
    border-radius: 0 30px 30px 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.boton-buscar img {
    width: 2rem;
}

.actual.icono {
    width: 100%;
}

.actual.ciudad {
    font-size: 2rem;
}

.actual.temperatura {
    font-size: 2rem;
}
.card p {
    font-size: 1rem;
}

.info-principal {
    display: flex;
    height: 30%;
    width: 100%;
    align-items: center;
}

.boton-ubicacion {
    border: none;
    border-radius: 50%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 .2rem .5rem ;
    cursor: pointer;
}

@media (orientation: landscape) {
    .card {
        flex-direction: row;
    }
    .info-principal {
        flex-direction: column;
        width: 50%;
        height: 100%;
    }

    .card.inicial {
        flex-direction: column;
    }
    .boton-ubicacion {
        padding: 0.25rem;
    }
    .actual.icono {
        width: 150%;
    }
}